<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profile Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-danger mb-8">
        <h1 class="navbar-brand m-4 w-100 text-center">Team Profile</h1>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-primary mx-auto my-3" style="width: 18rem">
                    <h5 class="fas fa-glasses card-header text-center"><b>Meredith Coyne</b><br /><br />Manager</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>ID: </b>123</li>
                        <li class="list-group-item"><b>Email Address: </b>meredith.coyne@fakeemail.com</li>
                        <li class="list-group-item"><b>GitHub: </b>meredithcoyne</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>

</html>