<!DOCTYPE html>
    <html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Our Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Muli:300" rel="stylesheet">
    <link rel="stylesheet" href="output\style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
</head>
    
    <body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-12 jumbotron mb-3 team-heading">
            <h1 class="text-center">Team <span>Profile</span> Generator</h1>
        </div>
    </div>
</div>
<div class="container">
<div class="row"><div class="col-sm">
            <div class="card bg-primary mx-auto my-3" style="width: 18rem">
            <h5 class="card-header text-center"><b>Meredith Coyne</b><br /><br />Manager</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>1</li>
                <li class="list-group-item"><b>Email Address: </b>1</li>
                <li class="list-group-item"><b>Office Number </b>1</li>
            </ul>
            </div>
        </div> </div>
    </div>
    
</body>
</html>