h1 {
    Font-Family: 'Comic Sans MS', 'Comic Sans' Serif;
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #d315b4;
}

h2 {
    font-weight: bold;
}

span {
    opacity: 0.6;
}

body {
    Font-Family: 'Arial Narrow', Sans-Serif;
    background-color: #2e879b;
    color: #DCEEF2;
}

.jumbotron {
    background: #152C40;
}

.employee-card {
    box-shadow: 5px 3px 9px 1px #465E73;
}

.card-header {
    background: #152C40;
}

.card-body {
    color: #53799b;
}

a {
    color: #b33d9f;
}

a:hover {
    color: #4f1bc7;
    font-weight: bold ;
    text-transform: uppercase;
}